.box{
    background-color: blue;
    color: blue;
    position: relative;
    height: 400px;
    width: 520px;
    top: 0px;
    
}
.box0{
    background-color: yellow;
    color: yellow;
    position: absolute;
    top: 175px;
    width: 520px;
    height: 80px;

  
}
.box1{
    background-color: yellow;
    color: yellow;
    position: absolute;
    top: 16px;
    left: 150px;
    height: 400px;
    width: 80px;
    }
